.score,
.result,
.descriptor,
.option {
    display: inline-flex;
    margin-right: 5px;
}

@font-face {
    font-family: 'Quicksand';
    src: url(fonts/quicksand/Quicksand-VariableFont_wght.ttf) format('truetype');
}